*.mo
*.pyc
.coverage
/*.egg-info
/.Python
/.cache
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.tox
/pyvenv.cfg
/bin
/build
/develop-eggs
/dist
/downloads
/eggs
/fake-eggs
/htmlcov
/include
/lib
/local.cfg
/parts
/src/*.egg-info
/var
coverage.xml
.coverage*
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
/pip-selfcheck.json
.python-version
Data.fs*
external/
